# created by virtualenv automatically
*/Users/fiannualamorgan/Documents/GitHub/Historical_Fires_Near_Me/data
*/Users/fiannualamorgan/Documents/GitHub/Historical_Fires_Near_Me/bin
*//Users/fiannualamorgan/Documents/GitHub/Historical_Fires_Near_Me/lib
*/Users/fiannualamorgan/Documents/GitHub/Historical_Fires_Near_Me/data/1615182084/text/CSVOutput
*/Users/fiannualamorgan/Documents/GitHub/Historical_Fires_Near_Me/output/Bushfire_News_Articles
*/Users/fiannualamorgan/Documents/GitHub/Historical_Fires_Near_Me/output/Bushfire_News_Articles/CSVOutput
*/Users/fiannualamorgan/Documents/GitHub/Historical_Fires_Near_Me/output/Bushfire_News_Articles/Bushfire_Extracts
*/Users/fiannualamorgan/Documents/GitHub/Historical_Fires_Near_Me/Sections
*/Users/fiannualamorgan/Documents/GitHub/Historical_Fires_Near_Me/README.md
*/Users/fiannualamorgan/Documents/GitHub/Historical_Fires_Near_Me/Code/Drafts

.DS_Store
Code/Notebooks/Visualisations
Code/Notebooks/Visualisations/bushfire_occurances_proportion_total_articles.png
Code/Notebooks/Visualisations/bushfire_serials_proprtion_total_serials.png
Code/Notebooks/Visualisations/fire_occurance_based_on_mentions_over_time.png
Code/Notebooks/Visualisations/locs_fires_narratives.png
Code/Notebooks/Visualisations/narrative_foreground_background_percentage_total_serials.png
Code/Notebooks/Visualisations/narrative_foreground_background_prcnt_over_time.png
Code/Notebooks/Visualisations/NSW_article_and_placenames_proprtion_total_articles.png
Code/Notebooks/Visualisations/NSW_fire_based_mention.png
Code/Notebooks/Visualisations/proprtion_articles_NSW_VIC_total_articles.png
Code/Notebooks/Visualisations/total_narrative_foreground_background_over_time.png
Code/Notebooks/Visualisations/total_trove_items.png
Code/Notebooks/Visualisations/VIC_bushfire_articles_proportion_total_articles.png
Code/Notebooks/Visualisations/VIC_fire_based_mention.png
Code/Notebooks/Visualisations/VIC_placenames_articles_proprtion_total_articles.png
Code/Notebooks/Visualisations/bushfire articles and mentions as proportion of total number of articles.png
Code/Notebooks/Visualisations/NSW bushfire instances 1850-1899.png
Code/Notebooks/Visualisations/NSW_VIC_Articles_Percent_Total_Articles.png
Code/Notebooks/Visualisations/Reported bushfire instances 1850-1899.png
Code/Notebooks/Visualisations/SA bushfire instances 1850-1899.png
Code/Notebooks/Visualisations/TAS bushfire instances 1850-1899.png
Code/Notebooks/Visualisations/WA bushfire instances 1850-1899.png
Sections/.DS_Store
Sections
Sections/1851_Fires/.DS_Store
Sections/1851_Fires/1851_Newspaper_Placenames_Disambiguator_Input.csv
Sections/1851_Fires/Overlapping_Locations_1851.csv
Sections/1851_Fires/Overlapping_Placenames_Reporting_Fiction_1851_Analysis.xlsx
Sections/Bushfire_Literature/.DS_Store
Sections/Bushfire_Literature/Cleaned_Data/.DS_Store
Sections/Bushfire_Literature/Cleaned_Data/Bushfire_Literature_Input_Disambiguator_Output_metadata_attached_with_Duplicates_Cleaned.csv
Sections/Bushfire_Literature/Cleaned_Data/Bushfire_Literature_Input_Disambiguator_Output_metadata_attached_with_Duplicates.csv
Sections/Bushfire_News_Articles_19th_Century/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Analysis/bushfire_ambig_lit.csv
Sections/Bushfire_News_Articles_19th_Century/Analysis/bushfire_none_lit.csv
Sections/Bushfire_News_Articles_19th_Century/Analysis/bushfire_nsw_lit.csv
Sections/Bushfire_News_Articles_19th_Century/Analysis/bushfire_qld_lit.csv
Sections/Bushfire_News_Articles_19th_Century/Analysis/bushfire_sa_lit.csv
Sections/Bushfire_News_Articles_19th_Century/Analysis/bushfire_tas_lit.csv
Sections/Bushfire_News_Articles_19th_Century/Analysis/bushfire_vic_lit.csv
Sections/Bushfire_News_Articles_19th_Century/Analysis/dates_to_fill.csv
Sections/Bushfire_News_Articles_19th_Century/Analysis/drop_duplicates_df.csv
Sections/Bushfire_News_Articles_19th_Century/Analysis/nsw_drop_df_year.csv
Sections/Bushfire_News_Articles_19th_Century/Analysis/nt_drop_df_year.csv
Sections/Bushfire_News_Articles_19th_Century/Analysis/qld_drop_df_year.csv
Sections/Bushfire_News_Articles_19th_Century/Analysis/sa_drop_df_year.csv
Sections/Bushfire_News_Articles_19th_Century/Analysis/stacked_bar_chart_year_state_plaename.csv
Sections/Bushfire_News_Articles_19th_Century/Analysis/tas_drop_df_year.csv
Sections/Bushfire_News_Articles_19th_Century/Analysis/Total_Articles_1850_1900.csv
Sections/Bushfire_News_Articles_19th_Century/Analysis/vic_drop_df_year.csv
Sections/Bushfire_News_Articles_19th_Century/Analysis/wa_drop_df_year.csv
Sections/Bushfire_News_Articles_19th_Century/Analysis/Graphs/bushfire_articles_as_proportion_total_articles.png
Sections/Bushfire_News_Articles_19th_Century/Cleaned_Datasets/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Cleaned_Datasets/Disambiguated/threshold_faceted_complete_metadata_bushfire_article_disambiguated_International_Coordinates_Removed.csv
Sections/Bushfire_News_Articles_19th_Century/Cleaned_Datasets/Disambiguated/threshold_faceted_newspaper_df_median_media_backup_Jan_2022.csv
Sections/Bushfire_News_Articles_19th_Century/Cleaned_Datasets/Disambiguated/threshold_faceted_newspaper_df_median_media.csv
Sections/Bushfire_News_Articles_19th_Century/Generated_Data/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Source_Data/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Transformed_Data/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Transformed_Data/Geocoded_LOCATION_Mappify_API/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Transformed_Data/Geocoded_LOCATION_Mappify_API/Transformed/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Transformed_Data/Placename_Program_Disambiguator_Ouput/Output_None_Results_Disambiguator/newspaper_df_removed_none.csv
Sections/Bushfire_News_Articles_19th_Century/Transformed_Data/Placename_Program_Disambiguator_Ouput/Output_None_Results_Disambiguator/Output_None_Results_Disambiguator.csv
Sections/Bushfire_News_Articles_19th_Century/Transformed_Data/Placename_Program_Disambiguator_Ouput/Output_None_Results_Disambiguator/Output_None_Results_Disambiguatoroutput_metadata_attached - Output_None_Results_Disambiguatoroutput.csv
Sections/Bushfire_News_Articles_19th_Century/Transformed_Data/Placename_Program_Disambiguator_Ouput/Output_None_Results_Disambiguator/Output_None_Results_Disambiguatoroutput.csv
Sections/Homesteads/.DS_Store
Sections/Homesteads/Analysis/Edited_Made_Up_and_Verified_Aboriginal_Homesteads_and_Towns.csv
Sections/Homesteads/Source_Data/.DS_Store
Sections/.DS_Store
Sections/1851_Fires/.DS_Store
Sections/Bushfire_Literature/.DS_Store
Sections/Bushfire_Literature/Cleaned_Data/.DS_Store
Sections/Bushfire_Literature/Cleaned_Data/Bushfire_Literature_Input_Disambiguator_Output_metadata_attached_with_Duplicates.csv
Sections/Bushfire_News_Articles_19th_Century/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Cleaned_Datasets/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Generated_Data/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Source_Data/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Transformed_Data/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Transformed_Data/Geocoded_LOCATION_Mappify_API/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Transformed_Data/Geocoded_LOCATION_Mappify_API/Transformed/.DS_Store
Sections/Homesteads/.DS_Store
Sections/Homesteads/Analysis/Edited_Made_Up_and_Verified_Aboriginal_Homesteads_and_Towns.csv
Sections/Homesteads/Source_Data/.DS_Store
Sections/1851_Fires/.DS_Store
Sections/Bushfire_Literature/.DS_Store
Sections/Bushfire_Literature/Cleaned_Data/.DS_Store
Sections/Bushfire_Literature/Cleaned_Data/Bushfire_Literature_Input_Disambiguator_Output_metadata_attached_with_Duplicates.csv
Sections/Bushfire_News_Articles_19th_Century/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Cleaned_Datasets/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Generated_Data/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Source_Data/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Transformed_Data/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Transformed_Data/Geocoded_LOCATION_Mappify_API/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Transformed_Data/Geocoded_LOCATION_Mappify_API/Transformed/.DS_Store
Sections/Homesteads/.DS_Store
Sections/Homesteads/Analysis/Edited_Made_Up_and_Verified_Aboriginal_Homesteads_and_Towns.csv
Sections/Homesteads/Source_Data/.DS_Store
.DS_Store
output.png
Code/Drafts/Test_Corpora_Aust_Entity_Inputoutput.csv
Sections/.DS_Store
Sections/1851_Fires/.DS_Store
Sections/Bushfire_Literature/.DS_Store
Sections/Bushfire_Literature/Cleaned_Data/.DS_Store
Sections/Bushfire_Literature/Cleaned_Data/Bushfire_Literature_Input_Disambiguator_Output_metadata_attached_with_Duplicates.csv
Sections/Bushfire_News_Articles_19th_Century/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Cleaned_Datasets/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Generated_Data/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Source_Data/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Transformed_Data/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Transformed_Data/Geocoded_LOCATION_Mappify_API/.DS_Store
Sections/Bushfire_News_Articles_19th_Century/Transformed_Data/Geocoded_LOCATION_Mappify_API/Transformed/.DS_Store
Sections/Homesteads/.DS_Store
Sections/Homesteads/Analysis/Edited_Made_Up_and_Verified_Aboriginal_Homesteads_and_Towns.csv
Sections/Homesteads/Source_Data/.DS_Store
Sections/Homesteads/Analysis/Edited_Made_Up_and_Verified_Aboriginal_Homesteads_and_Towns.csv
Analysis_Visualisations
third_test_inputoutput.csv
Code/Drafts/
Code/Notebooks/ 
Code/.ipynb_checkpoints
Code/.DS_Store
Sections/1851_Fires/
Sections/Bushfire_Literature/
Sections/Bushfire_News_Articles_19th_Century/