# created by virtualenv automatically
*/Users/fiannualamorgan/Documents/GitHub/Historical_Fires_Near_Me/data
*/Users/fiannualamorgan/Documents/GitHub/Historical_Fires_Near_Me/bin
*//Users/fiannualamorgan/Documents/GitHub/Historical_Fires_Near_Me/lib