# created by virtualenv automatically
*/Users/fiannualamorgan/Documents/GitHub/Historical_Fires_Near_Me/data
*/Users/fiannualamorgan/Documents/GitHub/Historical_Fires_Near_Me/bin
*//Users/fiannualamorgan/Documents/GitHub/Historical_Fires_Near_Me/lib
*/Users/fiannualamorgan/Documents/GitHub/Historical_Fires_Near_Me/data/1615182084/text/CSVOutput
*/Users/fiannualamorgan/Documents/GitHub/Historical_Fires_Near_Me/output/Bushfire_News_Articles
*/Users/fiannualamorgan/Documents/GitHub/Historical_Fires_Near_Me/output/Bushfire_News_Articles/CSVOutput
